<?xml version="1.0" encoding="UTF-8"?>




<plugin id="GetRepObjectsServlet">
    <description>manage the repo</description>
    <classname>io.github.tmgg.kettle.carte.plugin.GetRepObjectsServlet</classname>
    <libraries>
        <library name="../lib/kettle-carte-plugin-0.0.3.jar"></library>
    </libraries>
</plugin>
